* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  background-color: #fefae0;
  font-family: 'Raleway', sans-serif;
}

/* Header */
.header {
  background-image: linear-gradient(
    to right bottom, 
    rgba(40, 54, 24, 0.795), 
    rgba(0, 0, 0, 0.51)),
  url(img/Nighthawks1942.jpg);
  background-position: bottom;
  background-size: cover;
  object-fit: cover;
  height: 100vh;
  min-width: 100%;
}

/* Navbar */
.navbar {
  position: fixed;
  opacity: 0.8;
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background: #283618;
  color: #fefae0;
}

.navbar.top {
  background: transparent;
}

.navbar .logo {
  padding: 20px;
  text-transform: uppercase;
}

.navbar .logo span {
  font-weight: 700;
}

.navbar ul {
  display: flex;
  justify-content: center;
}

.navbar li {
  margin: 10px 0;
}

.navbar li a {
  margin: 0 10px;
  text-transform: uppercase;
}

.navbar li a:hover {
  border-bottom: 1px solid #fefae0;
}

/* Main title */
.main-title {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#title {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  text-align: center;
  color: #fefae0;
  padding: 20px;
}

.title-primary {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
  letter-spacing: 10px;
  margin-bottom: 10px;
  animation: moveRight 2s ease-out;
  border-bottom: 2px solid #fefae0;
}

.title-sub {
  font-weight: 400;
  letter-spacing: 10px;
  animation: moveLeft 2s ease-out;
  padding-bottom: 30px;
  margin-bottom: 20px;
}

.main-title a {
  animation: appear 4s ease-in;
  box-shadow: 0 0 5px 2px #606c38;
}

.main-title a:active {
  animation: clickBtn 2s ease-in 1;
}

@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveRight{
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes clickBtn {
  0% {
    transform: translateY(5px);
  }

  100% {
    transform: translate(0);
  }
}

/* Quote */
.quote-section {
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  font-weight: 400;
  text-align: right;
  display: flex;
  justify-content: center;
  align-items: center;
}

#quote {
  height: 100%;
  max-width: 768px;
  width: auto; 
}

/* Urban Life: Cinema */
#cinema {
  background: url('img/1939NYMovie.jpg') no-repeat top center/cover;
}

/* Rural America */
#rural-america {
  background: url('img/1955southCarolinaMorning.jpeg') no-repeat top center/cover;
}

.rural-america {
  flex-direction: row-reverse;
}

/* Women Working */
#women-work {
  background: url('img/1962NYOffice.jpg') no-repeat top center/cover;
}

/* Links */
#links .column-1,
#links .column-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#links .column-2 {
  padding: 25px;
  text-align: justify;
}

#links h3 {
  padding-bottom: 15px;
}

#links img {
  padding-bottom: 20px;
  height: 306px;
}

#links a {
  box-shadow: 0 0 5px 2px #606c38;
}

#links a:active {
  animation: clickBtn 2s ease-in 1;
}

/* Self Portrait */
#selfPortrait {
  display: flex;
  justify-content: center;
  align-items: center;
}

#selfPortrait #img-div {
  text-align: center;
  width: 375px;
}

#selfPortrait img {
  height: 500px;
  max-width: 97%;
  padding: 15px;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  font-size: 0.6rem;
  padding: 70px 0 10px;
}

@media (max-width: 576px) {
  /* Rural America */
  .rural-america {
    flex-direction: column;
  }

  #rural-img img {
    width: 90%;
    margin: calc(10% / 2);
    object-fit: cover;
  }
}

@media (min-width: 577px) and (max-width: 992px) {
  #links .row {
    flex-direction: column;
  }
  
}