a {
    text-decoration: none;
    color: #fefae0;
}

li {
    list-style: none;
}

/* Backgrounds */
.bg-light {
    background: #fefae0;
    color: #bc6c25;
}

.bg-secondary {
    background: #bc6c25;
    color: #fefae0;
}

/* Buttons */
.btn {
    text-decoration: none;
    border: none;
    padding: 15px 20px;
    border-radius: 30px;
    text-transform: uppercase;
}

.btn-dark {
    background: #283618;
    color: #fefae0;
}

.btn-bright {
    background: #bc6c25;
    color: #fefae0;
}

/* Section */
.section {
    width: 100%;
}

.section h2 {
    padding: 15px;
    text-align: center;
    font-size: 2rem;
}

.timestamp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.timestamp .dates {
    font-size: 4rem;
}

.section-title {
    padding-top: 25px;
    text-transform: uppercase;
    font-size: 4.5rem;
}

.row {
    display: flex;
    width: 100%;
}

.column {
    width: 50%;
    height: auto;
}

.column-1, .column-2 {
    height: 100%;
    width: 100%;
}

.column-1 {
    padding: 25px;
    text-align: justify;
}

.img-caption {
    text-align: center;
    padding: 5px;
}

.column-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
  }

.section-across {
    width: 100%;
    min-height: 30vh;
    padding: 20px;
}

.section-fill {
    height: 80vh;
    width: 100%;
}

.section-box {
    max-width: 40%;
    background: rgba(0, 0, 0, 0.5);
    padding: 15px 30px 30px;
    border-radius: 10px;
    text-align: center;
    color: #fefae0;
    margin: 30px 20px;
}

.background-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Gallery */
.gallery .row {
    flex-wrap: wrap; 
}

.gallery img {
    height: auto;
    width: 30%;
    margin: calc(10% / 6);
    object-fit: cover;
    border: 2px solid #000;
}

@media (max-width: 576px) {
    .row {
      flex-direction: column;
    }
  
    .column {
      width: 100%;
      height: 100%;
    }
  
    .section-box {
      max-width: 70%;
    }

    #gallery .row {
       flex-direction: row;
      }
    
    #gallery img {
        width: 45%;
        margin: calc(10% / 4);
        object-fit: cover;
      }
}